@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  font-family: "Open Sans", sans-serif;

  text-align: center;
  font-size: 100px;
  color: #0e2c8b;
}

.bottomPicture {
  margin-top: 30px;
  width: 100%;
}

.topp1 {
  width: 100%;
}

.subHeader {
  font-family: "Open Sans", sans-serif;

  text-align: left;
  font-size: 50px;
  color: #0e2c8b;
  margin-left: 250px;
}

.Table {
  height: 300px;
}

.description {
  font-family: "Open Sans", sans-serif;
  color: #0e2c8b;
  font-size: 16px;
  margin-left: 250px;
}

.intro {
  font-family: "Open Sans", sans-serif;
  margin-right: 100px;
  margin-left: 100px;
  text-align: center;
  font-size: 25px;
  color: #0e2c8b;
}

.styrebilde {
  max-width: 70%;
  padding: 15%;
  margin-top: -10%;
  margin-bottom: -10%;
}

.personBilde {
  width: 250px;
  height: 281px;
  position: absolute;
}

.personBilde2 {
  width: 250px;
  height: 281px;
  opacity: 0;
  position: absolute;
}

.personBilde2:hover {
  width: 250px;
  height: 281px;
  opacity: 1 !important;
}

.bildeCell {
  width: 250px;
  position: top;
}

.content {
  margin-left: 250px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
