@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  font-family: "Open Sans", sans-serif;

  text-align: center;
  font-size: 100px;
  color: #0e2c8b;
}

.subHeader {
  font-family: "Open Sans", sans-serif;

  text-align: center;
  font-size: 40px;
  color: #0e2c8b;
}

.intro {
  font-family: "Open Sans", sans-serif;
  margin-right: 100px;
  margin-left: 100px;
  text-align: center;
  font-size: 25px;
  color: #0e2c8b;
}

.styrebilde {
  max-width: 70%;
  padding: 15%;
}

.personBilde {
  max-width: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
