.App {
  text-align: center;
}

body {
  background: skyblue;
}

.header {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

button {
  position: absolute;
  bottom: 10px;
  z-index: 1;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(129, 129, 196);
  color: #eee;
  border: none;
  border-radius: 20rem;
  cursor: pointer;
  transition: 0.2s;
  height: 3rem;
  width: 15rem;
  font-size: 1rem;
}

.promo {
  margin-left: 34%;
}

.scroll {
  margin-left: 52%;
}

.about {
  text-align: center;
}

hr {
  background-image: linear-gradient(
    to right,
    rgb(18, 118, 131),
    #21539e,
    rgb(18, 118, 131)
  );
  width: 30%;
  height: 5px;
}

.main_box {
  background-color: white;
  margin: 5rem 5rem 10rem 10rem;
  color: #fff;
  padding: 15px 40px 40px 40px;
  width: 70%;
  height: 75%;
  min-width: 300px;
  border-radius: 15px;
}

.sub_box {
  color: black;
  text-align: left;
}

h1 {
  color: rgb(31, 31, 204);
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  text-align: center;
}

a:link {
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
}

button:hover {
  transform: scale(1.1);
  background-color: green;
}

p {
  font-family: Arial, sans-serif;
  font-style: 18px !important;
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

.front {
  height: 100vh; /* Magic here */
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottomPicture {
  max-width: 100%;
  max-height: 100%;
  margin-top: 30px;
  width: 100%;
}

.topp1 {
  margin-left: 20%;
  margin-right: auto;
  width: 50%;
}

.subHeader {
  font-family: "Open Sans", sans-serif;

  text-align: left;
  font-size: 50px;
  color: #0e2c8b;
  margin-left: 250px;
}

.Table {
  height: 300px;
}

.description {
  font-family: "Open Sans", sans-serif;
  color: #0e2c8b;
  font-size: 16px;
  margin-left: 250px;
}

.intro {
  font-family: "Open Sans", sans-serif;
  margin-right: 100px;
  margin-left: 100px;
  text-align: center;
  font-size: 25px;
  color: #0e2c8b;
}

.styrebilde {
  max-width: 100%;
  max-height: 100%;
  border-radius: 20px;
}

.App-link {
  color: #61dafb;
}

@media only screen and (max-width: 600px) {
  body {
    background: skyblue;
  }

  .main_box {
    background-color: white;
    margin: 1rem 1rem 1rem 1rem;
    color: #fff;
    padding: 15px 40px 40px 20px;
    width: 70%;
    height: 75%;
    min-width: 300px;
    border-radius: 15px;
  }

  .promo {
    margin-left: 9%;
  }

  .scroll {
    margin-left: 52%;
  }

  button {
    position: absolute;
    bottom: 10px;
    z-index: 1;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(129, 129, 196);
    color: #eee;
    border: none;
    border-radius: 20rem;
    cursor: pointer;
    transition: 0.2s;
    height: 3rem;
    width: 10rem;
    font-size: 1rem;
  }
}

/* Undergruppe */

.undergruppeheader {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.undergruppebilde {
  max-height: 90%;
  max-width: 90%;
  object-fit: cover;
  border-radius: 20%;
}

.undergruppebilder {
  max-height: 90%;
  max-width: 90%;
  object-fit: cover;
  border-radius: 20%;
}

.undergruppetekstreverse {
  color: black;
}

.undergruppetekst {
  background-color: skyblue;
}
