body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #333333;
}

.navbar {
  background-color: #252222;
  padding: 1% 0;
  font-size: 1.6em;
  height: 140px;
}
.navbar-brand {
  min-height: 63px;
  padding: 0 15px 5px;
}
.navbar-default .navbar-nav li a {
  color: #f3ba37;
}
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a.active {
  color: #fff;
}

#home {
  background: url(images/FB_Banner.png) no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: cover;
}

video {
  height: 71.9%;
  position: relative;
  width: 100%;
  background-size: cover;
}

.landing-text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.landing-text h1 {
  font-size: 500%;
  font-weight: 900;
  color: #f3ba37;
}
.padding {
  padding: 87px 0;
}
.padding img {
  width: 100%;
}
#fixed {
  background: url(images/background.jpg) no-repeat center center fixed;
  display: table;
  height: 60%;
  position: relative;
  width: 100%;
  background-size: cover;
}

footer {
  width: 100%;
  background-color: #252222;
  padding: 5% 5% 10% 5%;
  color: #fff;
}

.fa {
  padding: 15px;
  font-size: 35px;
  color: #fff;
}

.fa:hover {
  color: #f3ba37;
  text-decoration: none;
}

.icon {
  max-width: 200px;
}

@media (max-width: 768px) {
  .landing-text h1 {
    font-size: 300%;
  }
  .fa {
    font-size: 20px;
    padding: 10px;
  }
  .icon {
    padding-top: 5%;
    max-width: 100px;
  }
}

h1,
h2,
h3,
h4 {
  color: #fff;
  text-align: center;
}

p {
  color: #fff;
  font-size: 20px;
}
